---
import InteractiveGlobe from "@components/ui/InteractiveGlobe.tsx";
---

<section class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14">
  <div class="text-center">
    <h2 class="text-2xl font-bold text-neutral-800 dark:text-neutral-200 sm:text-3xl">
      🌎 Nos encontramos en los siguientes paises
    </h2>
    <p class="text-neutral-600 dark:text-neutral-400">
      
    </p>
  </div>

  <div class="mt-8">
    <InteractiveGlobe client:only="react" />
  </div>
</section>