---
import Icon from "@components/ui/icons/Icon.astro";

const { title, url, noArrow, customClasses } = Astro.props;

interface Props {
  title?: string;
  url?: string;
  noArrow?: boolean;
  customClasses?: string;
}

// Clases base del botón
const baseClasses =
  "group inline-flex items-center justify-center gap-x-2 rounded-lg px-4 py-3 text-sm font-bold text-neutral-50 ring-zinc-500 transition duration-300 focus-visible:ring outline-none";

// Clases de color predeterminado
const defaultColorClasses = "bg-brown-500 hover:bg-brown-600 active:bg-brown-700";
---

<a
  class={`${baseClasses} ${customClasses || defaultColorClasses}`}
  href={url}
>
  {title}
  {noArrow ? null : <Icon name="arrowRight" />}
</a>
