---
const { title, url, customClasses } = Astro.props;

interface Props {
  title?: string;
  url?: string;
  customClasses?: string;
}

const baseClasses =
  "inline-flex items-center justify-center gap-x-2 rounded-lg px-4 py-3 text-center text-sm font-medium text-neutral-600 shadow-sm outline-none ring-zinc-500 focus-visible:ring transition duration-300";
---
<a
  class={`${baseClasses} ${customClasses}`}
  href={url}
>
  {title}
</a>
